*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
}

body {
    background-image: url(000307193.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    background: rgb(37, 129, 37); 
    opacity: 0.2;
    padding: 10px;
}
